Source: 3isec-tor
Section: admin
Priority: extra
Maintainer: unman <unman@thirdeyesecurity.org>
Build-Depends: debhelper (>= 9~), quilt, dh-systemd (>= 1.5)
Standards-Version: 3.9.5
Homepage: http://www.qubes-os.org

Package: 3isec-tor
Section: admin
Architecture: any
Depends: systemd, tor (>= 0.2.3), ${misc:Depends}
Conflicts: qubes-tor
Description: A package for running a TorVM in Qubes
